parameters:
	ignoreErrors:
		-
			message: "#^Access to undefined constant Paayes\\\\ApiResource\\:\\:OBJECT_NAME\\.$#"
			count: 1
			path: lib/ApiResource.php

		-
			message: "#^Access to undefined constant Paayes\\\\SingletonApiResource\\:\\:OBJECT_NAME\\.$#"
			count: 1
			path: lib/SingletonApiResource.php

